body{
    background-color: #fff;
}
input{
    margin-top: 7%;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(207, 207, 207);
    border-width: 1px;
    padding-left:15px ;
    width: 283px;
    height: 49px;
}
.input{
    text-align: center;
    margin-top: 7%;
}
.fooridge>h2{
    color: #3faf43;
    font-weight: bolder;
}
.login{
    background-color: #3faf43;
    color:#fff;
    width: 298px;
    height: 49px;
    border-radius: 10px;
    border-style: solid;
    border-color: #3faf43;
    

}
.loginbutton{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}