body {
    overflow: hidden;
     background-color: rgba(167, 235, 170, 0.4); 
  }
  
.Logo{
    display: flex;
    justify-content: center;
    margin-top: 50%;
}

h2{
    margin-top: 10%;
    text-align: center;
}

.signup{
    margin-top: 35%;
    height: 50px;
    width: 298px;
    margin-left: auto;
    margin-right: auto; 
    background-color: #3faf43;
    border: none;
    color: #fff;
    border-radius: 10px;
    
    
}
.signin{
    margin-top: 13%;
    height: 50px;
    width: 298px;
    margin-left: auto;
    margin-right: auto; 
    border-style: solid;
    border-color: #3faf43;
    color: #3faf43;
    border-radius: 10px;
    background-color: transparent;
}
.button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20%;
    
}
