p{
    text-align: center;
}

.signupinput{
    margin-top: 45px;
}
.signupinput>label,.password label{
    margin-left: 20px;
}
.signupinput>input{
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 13px;
    width: 317px;
    height: 44px;
}
.signupinput>.check, .addressdiv button{
    width: 104px;
    height: 44px;
    background-color: #3faf43;
    margin-left: 10px;
    color: #fff;
    border-radius: 10px;
    border-style: solid;
    border-color: #3faf43;
}
.signupinput>.nickname{
    width: 201px;
    margin-bottom: 20px;
}
.passwordcondition{
    margin-top: 2px;
    font-size: 8pt;
    margin-left: -45px;
    margin-bottom: 30px;
}
.signupinput > .password input {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 13px;
    width: 317px;
    height: 44px;
}
.password{
    margin-top: 20px;
}
.join{
    width: 336px;
    height: 48px;
    background-color: #3faf43;
    color: #fff;
    border-radius: 10px;
    border-style: solid;
    border-color: #3faf43;
    margin-top: 30px;
}
.email>label{
    margin-bottom: 30px;
    margin-left: 20px;
}
.emailinput>input{
    height: 44px;
    width: 100px;
    margin-top: 10px;

}
.emailinput{
    display: flex;
    margin-left: 22px;

}
.emailinput>.emailfirst{
    width: 170px;
}
.emailinput>.a{
    margin-left: 6px;
    margin-right: 6px;
    color: #8a8a8a;
}
.addressdiv{
    display: flex;
    margin-top: 10px;
}
 
.addressdiv input{
    margin-left: 13px;
    width: 201px;
    height: 44px;
    margin-top: 0px;
}
.addressdiv button{
    width: 104px;
    height: 44px;
    margin-left: 10px;
}
.email input{
    margin-left: 13px;
    margin-top: 10px;
    width: 317px;
    height: 44px;
}